body {
  visibility: hidden;
}

.sorting sub,
.sorting_desc sub,
.sorting_asc sub {
        line-height: 36px;
}

th .search{
	display: block;
	width: 100%;
	margin: 0 5px;
}

a {
	text-decoration: none;
}

a input {
	position: relative;
	bottom: 20px;
}

.link-select {
	display: inline-flex;
}

.download-selected {
	background-color: #007F7F;
	color: #fff;
	border-radius: 5px;
	line-height: 2;
	font-weight: 600;
}

body h1 {
  color: #FE6F34;
  font-family: Helvetica;
}

.download-selected:active {
  background-color: #4CA5A5;
  color: #000;
}

.dataTables_scroll tbody td {
	text-align: center;
}

table.dataTable thead tr:first-child th{
	padding-left: 1px;
	padding-right: 1px;
}

.logo {
  max-width: 400px;
}

.dataTables_scrollBody tbody .odd td:first-child {
  background-color: #46A2A2!important;
}

.dataTables_scrollBody tbody .even td:first-child {
  background-color: #9ECECE!important;
}

body a,
.intro-text td:first-child a {
  color: #007F7F;
  font-weight: 600;
}

@media (max-width: 768px) {
	.logo {display: none;}
}
